# Selectel Cloud — сервисный пользователь (password-метод Keystone)
SELECTEL_ACCOUNT_ID=
SELECTEL_USERNAME=
SELECTEL_PASSWORD=
SELECTEL_PROJECT_ID=
# Мульти-аккаунт
SELECTEL_PASSWORD_1=@ZCM[xCfAtz22B*'OtHy
SELECTEL_PASSWORD_2=d8y&^XED3<B)ov~B|fL]

# WLChecker API
WLCHECKER_API_KEY=

# Telegram notifications
TG_BOT_TOKEN=
TG_CHAT_ID=
TG_PROXY_URL=  # socks5://127.0.0.1:10808
